@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&display=swap');

section {
  display: flex;
  justify-content: center;
  align-items: center;
  color:  gainsboro;
}

h2 {
  margin: 3vh 2vw;
}

p {
  font-family: 'Bodoni Moda', serif;
  text-indent: 2vw;
  margin-bottom: 1vh;
}

@media screen and (min-width: 600px) {
  section {
    width: 60%;
    margin: 0 20%;
  }
}